{
  "openapi": "3.0.0",
  "info": {
    "title": "Zillow56",
    "version": "1.0.0",
    "description": "RapidAPI: s.mahmoud97/zillow56"
  },
  "servers": [
    {
      "url": "https://zillow56.p.rapidapi.com"
    }
  ],
  "paths": {
    "/search_polygon": {
      "get": {
        "summary": "/search_polygon (Search for properties by polygon)",
        "description": "Search for filtered properties by polygon coordinates. For a list of properties, you can select the output format (JSON , CSV , XLSX) using the optional \\",
        "operationId": "/search_polygon_(search_for_properties_by_polygon)",
        "parameters": [
          {
            "name": "polygon",
            "in": "query",
            "required": true,
            "description": "It is required if the location is empty. Format: lat lng,lat1 lng1,lat2 lng2 34.03959576441558 -118.50636536779786,34.0418716916327 -118.50276047888184,34.042440663894304 -118.49846894445801,34.04201393505594 -118.49417741003418,34.04087598099002 -118.4897142142334,34.03945351693672 -118.48525101843262,34.03788877892429 -118.48095948400879,34.03618175908096 -118.47683961096192,34.034190192514366 -118.47271973791504,34.031629538228394 -118.46962983312989,34.02835747861639 -118.4677415579834,34.02",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "description": "Output format possible values : json (Default value) :Data in a JSON format csv : URL to the generated CSV file xlsx : URL to the generated XLSX (excel) file",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status type of the properties Default : forSale -forSale -forRent -recentlySold",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "sortSelection",
            "in": "query",
            "required": false,
            "description": "Sorting possible values : days: Newest (Default value), saved: Date Saved, listingstatus: Listing Status, mostrecentchange: Most Recent Change, globalrelevanceex: Homes for You, featured: Verified Source, priced: Price (High to Low), pricea: Price (Low to High), paymentd: Payment (High to Low), paymenta: Payment (Low to High), beds: Bedrooms, baths: Bathrooms, size: Square Feet, lot: Lot Size, zest: Zestimate (High to Low), zesta: Zestimate (Low to High),",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "listing_type",
            "in": "query",
            "required": false,
            "description": "Listing Type possible values : by_agent : By agent (Default value) by_owner_other : By owner & other (for off market properties)",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isSingleFamily",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isMultiFamily",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isApartment",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isCondo",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isManufactured",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isTownhouse",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isLotLand",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "doz",
            "in": "query",
            "required": false,
            "description": "Days on Zillow (For Sale/Rent listings)/ Sold In Last (Sold listings) Possible values : any: Any, 1: 1 day, 7: 7 days, 14: 14 days, 30: 30 days, 90: 90 days, 6m: 6 months, 12m: 12 months, 24m: 24 months, 36m: 36 months",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "sqft_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "sqft_max",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "monthlyPayment_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "monthlyPayment_max",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "beds_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "beds_max",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "baths_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "baths_max",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "hoa_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "hoa_max",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "hasPool",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "hasGarage",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "built_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "built_max",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isForSaleByOwner",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isForSaleByAgent",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isCityView",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isWaterfront",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isPublicSchool",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isPrivateSchool",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isMountainView",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "singleStory",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyPriceReduction",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyRentalAcceptsApplications",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isZillowOwnedOnly",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "hasAirConditioning",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isMiddleSchool",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isWaterView",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyRentalIncomeRestricted",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isComingSoon",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isForSaleForeclosure",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyWithPhotos",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyRentalCatsAllowed",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyRentalPetsAllowed",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyRentalSmallDogsAllowed",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyRentalLargeDogsAllowed",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isAuction",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "is3dHome",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isNewConstruction",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "parkingSpots_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "greatSchoolsRating_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "isElementarySchool",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isParkView",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "enableSchools",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "lotSize_max",
            "in": "query",
            "required": false,
            "description": "in sqft",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/market_data": {
      "get": {
        "summary": "/market_data (Rental Market Trends)",
        "description": "Get market rental data of a location by city or ZIP",
        "operationId": "/market_data_(rental_market_trends)",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Example value: houston, tx",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/market_sale_overview": {
      "get": {
        "summary": "market_sale_overview",
        "description": "This endpoint delivers a comprehensive snapshot and historical trends of the housing market in a given region using metrics aligned with the Zillow Home Value Index (ZHVI) framework",
        "operationId": "market_sale_overview",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": false,
            "description": "Example value: houston,tx",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/zhvi_range": {
      "get": {
        "summary": "/zhvi_range",
        "description": "This endpoint provides monthly historical data for the Zillow Home Value Index (ZHVI) for a specified region. The ZHVI is a proprietary metric that captures median home values across a wide variety of geographies and housing types, reflecting trends in the real estate market over time.",
        "operationId": "/zhvi_range",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Example value: 11771",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Home type",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "summary": "/search (Search for properties by neighborhood, city, or ZIP code)",
        "description": "Search for filtered properties by neighborhood, city, or ZIP code. PS : To search for an address of a property, use the \\",
        "operationId": "/search_(search_for_properties_by_neighborhood,_city,_or_zip_code)",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Location can be an address, neighborhood, city, or ZIP code.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "description": "Output format possible values : json (Default value) :Data in a JSON format csv : URL to the generated CSV file xlsx : URL to the generated XLSX (excel) file",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status type of the properties Default : forSale -forSale -forRent -recentlySold",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "sortSelection",
            "in": "query",
            "required": false,
            "description": "Sorting possible values : days: Newest (Default value), saved: Date Saved, listingstatus: Listing Status, mostrecentchange: Most Recent Change, globalrelevanceex: Homes for You, featured: Verified Source, priced: Price (High to Low), pricea: Price (Low to High), paymentd: Payment (High to Low), paymenta: Payment (Low to High), beds: Bedrooms, baths: Bathrooms, size: Square Feet, lot: Lot Size, zest: Zestimate (High to Low), zesta: Zestimate (Low to High),",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "listing_type",
            "in": "query",
            "required": false,
            "description": "Listing Type possible values : by_agent : By agent (Default value) by_owner_other : By owner & other (for off market properties)",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isSingleFamily",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isMultiFamily",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isApartment",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isCondo",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isManufactured",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isTownhouse",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isLotLand",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "doz",
            "in": "query",
            "required": false,
            "description": "Days on Zillow (For Sale/Rent listings)/ Sold In Last (Sold listings) Possible values : any: Any, 1: 1 day, 7: 7 days, 14: 14 days, 30: 30 days, 90: 90 days, 6m: 6 months, 12m: 12 months, 24m: 24 months, 36m: 36 months",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "sqft_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "sqft_max",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "monthlyPayment_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "monthlyPayment_max",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "beds_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "beds_max",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "baths_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "baths_max",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "hoa_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "hoa_max",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "hasPool",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "hasGarage",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "built_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "built_max",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isForSaleByOwner",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isForSaleByAgent",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isCityView",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isWaterfront",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isPublicSchool",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isPrivateSchool",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isMountainView",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "singleStory",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyPriceReduction",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyRentalAcceptsApplications",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isZillowOwnedOnly",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "hasAirConditioning",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isMiddleSchool",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isWaterView",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyRentalIncomeRestricted",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isComingSoon",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isForSaleForeclosure",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyWithPhotos",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyRentalCatsAllowed",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyRentalPetsAllowed",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyRentalSmallDogsAllowed",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyRentalLargeDogsAllowed",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isAuction",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "is3dHome",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isNewConstruction",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "parkingSpots_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "greatSchoolsRating_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "isElementarySchool",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isParkView",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "enableSchools",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "lotSize_min",
            "in": "query",
            "required": false,
            "description": "in sqft",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "lotSize_max",
            "in": "query",
            "required": false,
            "description": "in sqft",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/mortgage/rates": {
      "get": {
        "summary": "/mortgage/rates (Mortgage rates)",
        "description": "Get mortgage rates",
        "operationId": "/mortgage/rates_(mortgage_rates)",
        "parameters": [
          {
            "name": "program",
            "in": "query",
            "required": true,
            "description": "The loan program. You can select one or two programs, separated by commas. Available: Fixed30Year, Fixed20Year, Fixed15Year, Fixed10Year, ARM3, ARM5, ARM7, HomeEquity30Year, HomeEquity30YearDueIn15, HomeEquity15Year, HELOC20Year, HELOC15Year, HELOC10Year",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "The state abbreviation. AK,AL,AR,AS,AZ,CA,CO,CT,DC,DE,FL,GA, GU,HI,IA,ID,IL,IN,KS,KY,LA,MA,MD,ME,MH, MI,MN,MO,MP,MS,MT,NC,ND,NE, NH,NJ,NM,NV,NY,OH,OK,OR,PA,PR,RI,SC,SD,TN,TX,UT,VA,VI,VT,WA,WI,WV,WY,US",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "refinance",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "loanType",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "loanAmount",
            "in": "query",
            "required": false,
            "description": "Micro < $100,000 SmallConforming $100,000 - $200,000 Conforming > $200,000 SuperConforming Jumbo",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "loanToValue",
            "in": "query",
            "required": false,
            "description": "Normal < 80% High > 80% < 95% VeryHigh >= 95%",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "creditScore",
            "in": "query",
            "required": false,
            "description": "Low < 680 credit score. High > 680 < 740 VeryHigh > 740",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "duration",
            "in": "query",
            "required": false,
            "description": "From 0 to 4000",
            "schema": {
              "type": "string",
              "default": "30",
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/builders/details": {
      "get": {
        "summary": "/builders/details (Builders details)",
        "description": "Get details of builders by their builderId (found in `builders/search` results)",
        "operationId": "/builders/details_(builders_details)",
        "parameters": [
          {
            "name": "builderId",
            "in": "query",
            "required": true,
            "description": "Example value: 14987",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/builders/community_cards": {
      "get": {
        "summary": "/builders/community_cards (Builders community cards)",
        "description": "Get  community cards of a builder by their builderId (found in `builders/search` results)",
        "operationId": "/builders/community_cards_(builders_community_cards)",
        "parameters": [
          {
            "name": "builderId",
            "in": "query",
            "required": true,
            "description": "Example value: 14987",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "regionId",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/builders/reviews": {
      "get": {
        "summary": "/builders/reviews (Builder's reviews)",
        "description": "Get reviews of a builder by their builderId (found in `builders/search` results)",
        "operationId": "/builders/reviews_(builder's_reviews)",
        "parameters": [
          {
            "name": "builderId",
            "in": "query",
            "required": true,
            "description": "Example value: 14987",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "regionId",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/builders/search": {
      "get": {
        "summary": "/builders/search (Search for builders)",
        "description": "Searchfor builders by location or name",
        "operationId": "/builders/search_(search_for_builders)",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": false,
            "description": "Example value: Houston,Tx",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/other_professionals/reviews": {
      "get": {
        "summary": "/other_professionals/reviews (Professional's reviews)",
        "description": "Get reviews of a professional by their zuid (found in `/other_professionals/details` result)",
        "operationId": "/other_professionals/reviews_(professional's_reviews)",
        "parameters": [
          {
            "name": "zuid",
            "in": "query",
            "required": true,
            "description": "Example value: X1-ZU1328lo3ng72mh_5xifh",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/other_professionals/details": {
      "get": {
        "summary": "/other_professionals/details (Professional's details)",
        "description": "Get details of a professional by username (found in `/other_professionals/search` results)",
        "operationId": "/other_professionals/details_(professional's_details)",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "description": "Example value: InnerLoopHomes",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/other_professionals/search": {
      "get": {
        "summary": "/other_professionals/search (Search for professionals)",
        "description": "Search for professoinals (property managers, inspectors,photographers,home_improvement,etc) by location or name",
        "operationId": "/other_professionals/search_(search_for_professionals)",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": false,
            "description": "Example value: Houston,tx",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/walk_transit_bike_score": {
      "get": {
        "summary": "/walk_transit_bike_score (Walk, Transit and Bike Score)",
        "description": "Get Walk, Transit and Bike Score of a property by zpid",
        "operationId": "/walk_transit_bike_score_(walk,_transit_and_bike_score)",
        "parameters": [
          {
            "name": "zpid",
            "in": "query",
            "required": false,
            "description": "The zpid can be extracted from the searching endpoints (/search , /search_url…), or from a property's URL.",
            "schema": {
              "type": "string",
              "default": "20485700",
              "enum": null
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Property details URL - eg :https://www.zillow.com/homedetails/15626-Laurel-Heights-Dr-Houston-TX-77084/28253016_zpid/",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/schools": {
      "get": {
        "summary": "/schools (Nearby schools)",
        "description": "Nearby schools of a property by ZPID",
        "operationId": "/schools_(nearby_schools)",
        "parameters": [
          {
            "name": "zpid",
            "in": "query",
            "required": false,
            "description": "The zpid can be extracted from the searching endpoints (/search , /search_url…), or from a property's URL.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Property details URL - eg :https://www.zillow.com/homedetails/15626-Laurel-Heights-Dr-Houston-TX-77084/28253016_zpid/",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/photos": {
      "get": {
        "summary": "/photos (Photos of a property)",
        "description": "Returns a property's photos with different sizes and types.",
        "operationId": "/photos_(photos_of_a_property)",
        "parameters": [
          {
            "name": "zpid",
            "in": "query",
            "required": false,
            "description": "The zpid can be extracted from the searching endpoints (/search , /search_url…), or from a property's URL.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Property details URL - eg :https://www.zillow.com/homedetails/15626-Laurel-Heights-Dr-Houston-TX-77084/28253016_zpid/",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/property": {
      "get": {
        "summary": "/property (deprecated)",
        "description": "Get a property's details by its zpid",
        "operationId": "/property_(deprecated)",
        "parameters": [
          {
            "name": "zpid",
            "in": "query",
            "required": false,
            "description": "The zpid can be extracted from the searching endpoints (/search , /search_url…), or from a property's URL.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Property details URL - eg :https://www.zillow.com/homedetails/15626-Laurel-Heights-Dr-Houston-TX-77084/28253016_zpid/",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/propertyV2": {
      "get": {
        "summary": "/propertyV2 (Property details by ZPID",
        "description": "Get a property's details by its zpid",
        "operationId": "/propertyv2_(property_details_by_zpid",
        "parameters": [
          {
            "name": "zpid",
            "in": "query",
            "required": false,
            "description": "The zpid can be extracted from the searching endpoints (/search , /search_url…), or from a property's URL.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Property details URL - eg :https://www.zillow.com/homedetails/15626-Laurel-Heights-Dr-Houston-TX-77084/28253016_zpid/",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/lender/reviews": {
      "get": {
        "summary": "/lender/reviews",
        "description": "Get lender reviews",
        "operationId": "/lender/reviews",
        "parameters": [
          {
            "name": "screenName",
            "in": "query",
            "required": true,
            "description": "Example value: mortgagecapitalpartners",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/lender/details": {
      "get": {
        "summary": "/lender/details",
        "description": "Get lender details",
        "operationId": "/lender/details",
        "parameters": [
          {
            "name": "screenName",
            "in": "query",
            "required": true,
            "description": "Example value: mortgagecapitalpartners",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/lender/search": {
      "get": {
        "summary": "/lender/search",
        "description": "Search for Lenders",
        "operationId": "/lender/search",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "City, State or Zip. Only lenders licensed in the state will be displayed.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "lenderName",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/similar_rent_properties": {
      "get": {
        "summary": "/similar_rent_properties (Similar for rent properties)",
        "description": "List of similar for rent properties by Zpid or URL or address",
        "operationId": "/similar_rent_properties_(similar_for_rent_properties)",
        "parameters": [
          {
            "name": "zpid",
            "in": "query",
            "required": false,
            "description": "The zpid can be extracted from the searching endpoints (/search , /search_url...), or from a property's URL.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Property details URL - eg :https://www.zillow.com/homedetails/15626-Laurel-Heights-Dr-Houston-TX-77084/28253016_zpid/",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/search_coordinates": {
      "get": {
        "summary": "/search_coordinates (Search for properties by coordinates)",
        "description": "Search for filtered properties by coordinates. You can select the output format (JSON , CSV , XLSX) using the optional \\",
        "operationId": "/search_coordinates_(search_for_properties_by_coordinates)",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude",
            "schema": {
              "type": "string",
              "default": "34.01822",
              "enum": null
            }
          },
          {
            "name": "long",
            "in": "query",
            "required": true,
            "description": "Longitude",
            "schema": {
              "type": "string",
              "default": "-118.504744",
              "enum": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status type of the properties Default : forSale -forSale -forRent -recentlySold",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "description": "Output format possible values : json (Default value) :Data in a JSON format csv : URL to the generated CSV file xlsx : URL to the generated XLSX (excel) file",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sorting possible values : priorityscore: Default, saved: Date Saved, listingstatus: Listing Status, mostrecentchange: Most Recent Change, globalrelevanceex: Homes for You, featured: Verified Source, priced: Price (High to Low), pricea: Price (Low to High), paymentd: Payment (High to Low), paymenta: Payment (Low to High), days: Newest, beds: Bedrooms, baths: Bathrooms, size: Square Feet, lot: Lot Size, zest: Zestimate (High to Low), zesta: Zestimate (Low to High),",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "listing_type",
            "in": "query",
            "required": false,
            "description": "Listing Type possible values : By agent (Default value) By owner & other (for off market properties)",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isSingleFamily",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isMultiFamily",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isApartment",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isCondo",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isManufactured",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isTownhouse",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isLotLand",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "doz",
            "in": "query",
            "required": false,
            "description": "Days on Zillow possible values : any: Any, 1: 1 day, 7: 7 days, 14: 14 days, 30: 30 days, 90: 90 days, 6m: 6 months, 12m: 12 months, 24m: 24 months, 36m: 36 months",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "sqft_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "sqft_max",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "monthlyPayment_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "monthlyPayment_max",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "beds_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "beds_max",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "baths_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "baths_max",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "hoa_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "hoa_max",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "hasPool",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "hasGarage",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "built_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "built_max",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isForSaleByOwner",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isForSaleByAgent",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isCityView",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isWaterfront",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isPublicSchool",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isPrivateSchool",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isMountainView",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "singleStory",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyPriceReduction",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyRentalAcceptsApplications",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isZillowOwnedOnly",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "hasAirConditioning",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isMiddleSchool",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isWaterView",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyRentalIncomeRestricted",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isComingSoon",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isForSaleForeclosure",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyWithPhotos",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyRentalCatsAllowed",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyRentalPetsAllowed",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyRentalSmallDogsAllowed",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "onlyRentalLargeDogsAllowed",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isAuction",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "is3dHome",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isNewConstruction",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "greatSchoolsRating_min",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "isElementarySchool",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "isParkView",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "enableSchools",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/search_url": {
      "get": {
        "summary": "/search_url (List of properties by URL)",
        "description": "Get a list of properties by providing the zillow search results URL You can select the output format (JSON , CSV , XLSX) using the optional \\",
        "operationId": "/search_url_(list_of_properties_by_url)",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Example value: https://www.zillow.com/homes/for_sale/2_p/?searchQueryState=%7B%22pagination%22%3A%7B%22currentPage%22%3A2%7D%2C%22mapBounds%22%3A%7B%22west%22%3A-112.39143704189931%2C%22east%22%3A-110.78468655361806%2C%22south%22%3A32.79032628812945%2C%22north%22%3A33.7227901388417%7D%2C%22isMapVisible%22%3Atrue%2C%22filterState%22%3A%7B%22con%22%3A%7B%22value%22%3Afalse%7D%2C%22apa%22%3A%7B%22value%22%3Afalse%7D%2C%22mf%22%3A%7B%22value%22%3Afalse%7D%2C%22ah%22%3A%7B%22value%22%3Atrue%7D%2C%22sort%22%3A%7B%22value%22%3A%22globalrelevanceex%22%7D%2C%22land%22%3A%7B%22value%22%3Afalse%7D%2C%22manu%22%3A%7B%22value%22%3Afalse%7D%2C%22apco%22%3A%7B%22value%22%3Afalse%7D%7D%2C%22isListVisible%22%3Atrue%7D",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example value: 3",
            "schema": {
              "type": "string",
              "default": "3",
              "enum": null
            }
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "description": "Output format possible values : json (Default value) :Data in a JSON format csv : URL to the generated CSV file xlsx : URL to the generated XLSX (excel) file",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "listing_type",
            "in": "query",
            "required": false,
            "description": "Listing Type possible values : By agent (Default value) By owner & other (for off market properties)",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/search_mls": {
      "get": {
        "summary": "/search_mls (Search by MLS)",
        "description": "Search for properties by their MLS ID.",
        "operationId": "/search_mls_(search_by_mls)",
        "parameters": [
          {
            "name": "mls",
            "in": "query",
            "required": true,
            "description": "Example value: SR25078433",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/agent": {
      "get": {
        "summary": "Agent details by username",
        "description": "Get agent's details by username(contact infos, active listings and reviews etc). PS : username is the profile link  Example :  username :  Pardee-Properties for https://www.zillow.com/profile/Pardee-Properties/",
        "operationId": "agent_details_by_username",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "description": "Example value: Pardee-Properties",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/agent_rental_listings": {
      "get": {
        "summary": "Agent's rental listings",
        "description": "Get agent's rental listings by zuid",
        "operationId": "agent's_rental_listings",
        "parameters": [
          {
            "name": "zuid",
            "in": "query",
            "required": true,
            "description": "Example value: X1-ZUz0nmomozy2o9_9bpwk",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/agent_reviews": {
      "get": {
        "summary": "Agent Reviews",
        "description": "Get agent reviews by the agent's zuid",
        "operationId": "agent_reviews",
        "parameters": [
          {
            "name": "zuid",
            "in": "query",
            "required": true,
            "description": "Example value: X1-ZUz0nmomozy2o9_9bpwk",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/agent_active_listings": {
      "get": {
        "summary": "Agent's active listings",
        "description": "Get agent's active listings by zuid",
        "operationId": "agent's_active_listings",
        "parameters": [
          {
            "name": "zuid",
            "in": "query",
            "required": true,
            "description": "Example value: X1-ZUz0nmomozy2o9_9bpwk",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/search_agents": {
      "get": {
        "summary": "Search for agents",
        "description": "Search for agents by location and name",
        "operationId": "search_for_agents",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Example value: houston, tx",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "specialty",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/agent_past_sales": {
      "get": {
        "summary": "Agent's past sales",
        "description": "Get agent's past sales by zuid",
        "operationId": "agent's_past_sales",
        "parameters": [
          {
            "name": "zuid",
            "in": "query",
            "required": true,
            "description": "The zuid can be extracted from the agent's details \\\"/agent\\\"",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/similar_sold_properties": {
      "get": {
        "summary": "/similar_sold_properties (Similar sold properties)",
        "description": "List of similar sold properties by Zpid or URL or address",
        "operationId": "/similar_sold_properties_(similar_sold_properties)",
        "parameters": [
          {
            "name": "zpid",
            "in": "query",
            "required": false,
            "description": "The zpid can be extracted from the searching endpoints (/search , /search_url...), or from a property's URL.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Property details URL - eg :https://www.zillow.com/homedetails/15626-Laurel-Heights-Dr-Houston-TX-77084/28253016_zpid/",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/similar_properties": {
      "get": {
        "summary": "/similar_properties (Similar for sale properties)",
        "description": "List of similar for sale properties by Zpid or URL or address",
        "operationId": "/similar_properties_(similar_for_sale_properties)",
        "parameters": [
          {
            "name": "zpid",
            "in": "query",
            "required": false,
            "description": "The zpid can be extracted from the searching endpoints (/search , /search_url...), or from a property's URL.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
[...]
